.header {
  width: 100%;
  border: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1f2329;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  z-index: 8;
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.8);
}

.header .header__wrapper {
  width: 100%;
  max-width: 935px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.header .header__item {
  padding-top: 20px;
  border-bottom: 4px solid;
  border-color: ff7675;
  transition: border-bottom 0.4s ease-in-out;
}

.header a {
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 22px;
}

a:hover {
  color: #ff7675;
}
