.projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #211915;
}

.projects .intro {
  font-size: 24px;
  font-weight: 700;
  margin: 40px 0px;
  text-transform: uppercase;
}

.projects .subintro {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: #999;
  border: 2px solid #999;
  border-radius: 5px;
  padding: 10px 15px;
}

.projects .items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 835px;
  margin-bottom: 80px;
}

.projects .image__container {
  padding: 0px 20px;
  height: 600px;
  margin-bottom: 30px;
}

.projects .image {
  width: 100%;
  max-width: 935px;
  height: 100%;
  border-radius: 40px;
  box-shadow: 5px 10px 18px #888888;
}

.projects .project__container {
  width: 600px;
  max-width: 935px;
  text-align: justify;
  letter-spacing: 2px;
  line-height: 1.5rem;
}

.projects .project__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}

.projects .title {
  font-size: 24px;
  font-weight: 600;
}

.projects .buttons {
  display: flex;
}

.projects .button {
  outline: none;
  font-size: 16px;
  font-weight: 600;
  padding: 5px;
  color: #999;
  background-color: #fafafa;
  border: 2px solid #999;
  border-radius: 5px;
  text-transform: uppercase;
  margin-right: 5px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.projects .button:hover {
  color: white;
  background-color: #ff7675;
  border-color: #ff7675;
}

.projects .project__descriptions {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.projects .technologies {
  display: flex;
  flex-wrap: wrap;
}

.projects .technology {
  background-color: #718093;
  color: white;
  font-size: 12px;
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
  margin: 10px 0px;
}

.projects .technology:not(:last-child) {
  margin-right: 10px;
}
